* {
    margin: 0 auto;
    padding: 0 auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    color: black;
    text-align: center;
    padding: 5% 2% 3% 2%;
}

a {
    text-decoration: none;
    color: white;

}

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #0071A5;
}

.navigation {
    display: flex;
    background-color: #859EA9;
}

.inline-block {
    font-size: 25px;
    color: white;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding: 55px 20px 20px;
    display: inline-block;
}

.heroImg {
    width: 30%;
    background-color: #9E9EA6;
    border-radius: 18px;
    padding: 15px;
    margin: 50px auto;
}

.pictureMe {
    border-radius: 25px;
    padding: 15px
}

.jobTitle {
    color: #0071A5;
    padding: 20px;
}

.aboutSelf {
    padding-bottom: 45px;
    width: 76%;
}

.button {
    border-radius: 15;
    background-color: #4A5C71;
    padding: 18px 35px 18px 35px;
    border-radius: 5px;
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.content {
    text-align: center;
    margin: 0 auto;
    padding: 50px;
}

#mySkills {
    background-color: #F4F4F4;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10%;
}

.skillCard {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 21%;
    text-align: start;
}

.picskills{
    width: 235px;
    padding-bottom: 30px;
}

h3{
    color: #0071A5;
    font-size: 25px;
    padding: 3%;
}

#myWork-Grid {
    background-color: #E1E1E1;
    padding: 1%;
    grid-template-rows: max-content 3fr 3fr 3fr;
    grid-template-areas:
        "project-card"
        "project-card"
        "project-card"
    ;
}

.project-card {
    margin-right: 10%;
    margin-left: 10%;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.casestudy {
    width: 450x;
    height: 200px;
    margin-left: 30%;
}

.mywork {
    font-size: 32px;
    color: #0071A5;
    padding-bottom: 15px;
    margin-right: 20%;
}

.describtion {
    padding-bottom: 12%;
    margin-right: 15%;
    font-size: 20px;
}

.bottomfooter {
    display: flex;
    justify-content: space-between;
    background-color: #859EA9;
    padding: 20px;

}

.bottomfooter li {
    list-style-type: none;
    display: inline-block;
    padding: 90px 20px 20px;
    color: white;
}

.inline-block-footer {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width:600){

    /* filling in this information: step 05 on homework /*
}